name: CI-CD - Build, Push & Deploy

on:
  push:
    branches: [ main ]
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: aadityat

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "VERSION=latest" >> $GITHUB_ENV
          fi
          echo "SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push backend
        run: |
          docker build -t $REGISTRY/$IMAGE_OWNER/spyder-backend:${{ env.VERSION }} ./Backend
          docker tag  $REGISTRY/$IMAGE_OWNER/spyder-backend:${{ env.VERSION }} \
                      $REGISTRY/$IMAGE_OWNER/spyder-backend:${{ env.SHA }}
          docker push $REGISTRY/$IMAGE_OWNER/spyder-backend:${{ env.VERSION }}
          docker push $REGISTRY/$IMAGE_OWNER/spyder-backend:${{ env.SHA }}

      - name: Build & push frontend
        run: |
          docker build -t $REGISTRY/$IMAGE_OWNER/spyder-frontend:${{ env.VERSION }} ./Frontend
          docker tag  $REGISTRY/$IMAGE_OWNER/spyder-frontend:${{ env.VERSION }} \
                      $REGISTRY/$IMAGE_OWNER/spyder-frontend:${{ env.SHA }}
          docker push $REGISTRY/$IMAGE_OWNER/spyder-frontend:${{ env.VERSION }}
          docker push $REGISTRY/$IMAGE_OWNER/spyder-frontend:${{ env.SHA }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ghcr.io/aadityat/spyder-backend:${{ env.VERSION }}
            docker pull ghcr.io/aadityat/spyder-frontend:${{ env.VERSION }}
            docker compose -f docker-compose.prod.yml up -d
